.random-dog,
.breed-dog {
  padding: $main-spacing;
  border: 1px solid $border-color;
  display: flex;

  &__wrapper {
    flex: 1;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-image {
      position: absolute;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 100%;
      z-index: 2;
    }
  }

  .random-dog__description,
  .breed-dog__descripion {
    flex: 1;
    padding: 0 $main-spacing;
  }
}
